version: '3.8'

services:
  app:
    image: engineer442/springboot-app:latest
    ports:
      - "9091:8080"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

