apiVersion: v1
kind: Namespace
metadata:
  name: development
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-application
  namespace: development
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-boot-application
  template:
    metadata:
      labels:
        app: spring-boot-application
    spec:
      containers:
      - name: spring-boot-application
        image: SPRING_BOOT_IMAGE_TAG
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: spring-boot-application-service
  namespace: development
spec:
  type: ClusterIP
  selector:
    app: spring-boot-application
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080

